@charset "utf-8";

a.tag-anchor {
	.icon.icon-tag > svg {
		fill: $tag-color;
	}
  color: $tag-color;
}
a.tag-anchor:hover {

	.icon.icon-tag > svg {
		fill: $tag-hover-color;
	}
  color: $tag-hover-color;
  cursor: pointer;
}


a.tag-anchor-clicked {
  .icon.icon-tag > svg {
    fill: $tag-clicked-color;
  }
  color: $tag-clicked-color;
}
a.tag-anchor-clicked:hover {
  cursor:pointer;
}

//-------------------------

a.tag-post-link {
  .icon.icon-post > svg {
    fill: $a-color;
  }
}

a.tag-post-link:visited {
  .icon.icon-post > svg {
    fill: $a-visited-color;
  }
}

a.tag-post-link:hover {
  .icon.icon-post > svg {
    fill: $a-hover-color;
  } 
}

ul#post-list {
  list-style: none;  
}

/////////////////tag scss///////////
a.tag-anchor {
  span.tag-list {
    //margin-right: $spacing-unit / 2;
    white-space: nowrap;
    padding-top: 0.1em;
    padding-right: 0.4em;
    padding-bottom: 0.2em;
    padding-left: 0.2em;
    line-height: 1.8em;
    
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition:all 1s;
  }
}
a.tag-anchor-clicked {
  span.tag-list {
    border-radius: 10px;
    background-color: $tag-clicked-background-color;
    white-space: nowrap;
    padding-top: 0.1em;
    padding-right: 0.4em;
    padding-bottom: 0.3em;
    padding-left: 0.2em;
    line-height: 1.8em;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition:all 1s;
  }
}

#tag-cover {
  margin-bottom: $spacing-unit;
}
ul.post-box {
  list-style-type: none;
  padding-left: 0px;
  margin-left: $spacing-unit;
}
h2.tag-title {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
@media only screen
 and (max-width:560px) {
  a.tag-post-link {
    @include relative-font-size(1.0);
  }
}
@media only screen
 and (min-width: 561px) {
  a.tag-post-link { 
    @include relative-font-size(1.25);
  }
}
