#TIL-date {
    margin-bottom: 1rem;
}

#TIL-content {
    margin-left: 1.5rem;
    
    > ul {
        margin-left: 0;
        list-style: none;
    }
    > ul > li {
        font-size: 1.25rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    > ul > li > ul {
        font-size: 1.0rem;
        font-weight: normal;
        list-style: disc;
    }
}

