---
layout: default
---

<div id="category-cover" class="container"
     {% if page.image %}style="background-image: url({{ page.image }});"{% endif %}>
    
    {% assign categories = site.categories %}
    
    <ul class="cover-category-list">
        {% for category in categories %}
        	{% if category.level == 1 %}
                <li class="cover-category-item">
                <a href="#{{category.name}}">{% include icon-category.html %}<span class="cover-category-title">{{ category.title }}</span></a>
                    <p class="cover-subcategory-list">
                    {% for subcategory in categories %}
                        {% if subcategory.level == 2 and subcategory.parent == category.name %}
                            <a href="#{{subcategory.name}}"><span class="cover-subcategory-item">{% include icon-subcategory.html %}{{subcategory.title}}</span></a>
                        {% endif %}
                    {% endfor %}
                    </p>
                </li>
        	{% endif %}
        {% endfor %}
    </ul>
</div>

<div id="category-content-wrapper" class="container">
    <div id="category-content" role="main">
        <ul id="category-list">

            {% for category in categories %}
                {% if category.level == 1 %}

                    <li><span class="category-list-title" id="{{category.name}}">{% include icon-category.html %}{{ category.title }}</span>
                    {% assign category1_name = category.name %}

                        <ul id="subcategory-list">

                            <li><span class="subcategory-list-title">{% include icon-subcategory.html %}Common</span>

                                <ul id="subcategory-item-list">
                                {% for post in site.posts %} 

                                    {% if post.categories.size != 1 %}
                                        {% continue %}
                                    {% endif %}

                                    {% if post.categories[0] != category1_name %}
                                        {% continue %}
                                    {% endif %} 
                                    
                                    <li id="subcategory-item"><a href="{{ post.url }}" id="subcategory-post-item">{% include icon-post.html %}{{ post.title }}</a></li>
                                    
                                {% endfor %}
                                </ul>
                            </li> 

                            {% for subcategory in categories %}
                                {% if subcategory.level == 2 and subcategory.parent == category1_name %}
                                    
                                    <li><span class="subcategory-list-title" id="{{subcategory.name}}">{% include icon-subcategory.html %}{{ subcategory.title }}</span>
                                    {% assign category2_name = subcategory.name %}

                                        <ul id="subcategory-item-list">
                                        {% for post in site.posts %} 

                                            {% if post.categories.size < 2 %}
                                                {% continue %}
                                            {% endif %}

                                            {% if post.categories[0] != category1_name %}
                                                {% continue %}
                                            {% endif %} 

                                            {% if post.categories[1] != category2_name %}
                                                {% continue %}
                                            {% endif %}
                                            
                                            <li id="subcategory-item"><a href="{{ post.url }}" id="subcategory-post-item">{% include icon-post.html %}{{ post.title }}</a></li>
                                            
                                        {% endfor %}
                                        </ul>

                                    </li>

                                {% endif %}
                            {% endfor %}

                            

                        </ul>
                    </li>
                {% endif %}
            {% endfor %}

        </ul>
    </div>
</div>


<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>

<script>

    $("a[href^='#']").click(function(e) {
        e.preventDefault();
    
        var position = $($(this).attr("href")).offset().top;

        $("body, html").animate({
            scrollTop: position
        }, 1000);
    });

</script>
