---
layout: default
---

<div id="tag-cover" class="container"
     {% if page.image %}style="background-image: url({{ page.image }});"{% endif %}>
    <!-- <div>
        <h1>{{ page.title | default: page.name }}</h1>
        <p>All Posts in <strong>{{ page.name }}</strong></p>
    </div> //-->

    {% for tag in site.tags %}
    	<a class="" href="#{{ tag.name }}"><span class="tag-list">{% include tag.svg %}{{ tag.title }}</span></a>
    {% endfor %}
</div>

<div id="tag-content" class="container">
    <div id="tag-content" role="main">
        <ul id="post-list">
            {% for tag in site.tags %}
            
            	<h2 class="tag-title" id="{{ tag.name }}">{% include folders.svg %}{{ tag.title }}</h2>
                <ul class="post-box">
				{% for post in site.posts %} 
					{% if post.tags contains tag.name %}
						<li><a href="{{ post.url }}" class="tag-post-link">{% include file.svg %}{{ post.title }}</a></li>
					{% endif %}
               	{% endfor %}
                </ul>
            {% endfor %}
        </ul>
    </div>
</div>

