---
layout: default
---

<div id="TIL title">
    <h1>Today I Learned & Did</h1>
</div>

{% assign desc_tils = site.tils | sort: 'date' | reverse %}
{% for til in desc_tils %}

    <div id="TIL-wrapper" class="container">
        
        <a href="{{ til.url }}" class="tag-post-link">
            <time datetime="{{ til.date | date_to_xmlschema }}" itemprop="datePublished">
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                {{ til.date | date: date_format }}
                {{ til.title | escape }}
            </time>
        </a>

        <div id="TIL-content">
        </div>
    </div>
    
{% endfor %}